@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif"; 

  --color-primary: #1A1A1A;
  --color-secondary: #667085;
  --color-accent: #6941C6;
}

.quill {
  height: 300px;
  padding-bottom: 45px;
}